{% extends 'layout/base.html.twig' %}

{% block title %}Construction{% endblock %}

{% block body %}

    <div class="hero hero-inner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 mx-auto text-center">
                    <div class="intro-wrap">
                        <h1 class="mb-0">Erreur de Page</h1>
                        <p class="text-white">La page que vous cherchez est introuvable sorry!! </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=================================
    =            404 Section            =
    ==================================-->
    <section class="moduler wrapper_404">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >&#128562</h1>
                        <h2 class="wow fadeInUp animated" data-wow-delay=".6s">Opps! La page actuel est indisponible</h2>
                        <p class="wow fadeInUp animated" data-wow-delay=".9s">La page que vous recherchez est en cour de construction. revenez plus tard ...</p>
                        <div class="widget">
                            <ul class="list-unstyled social">
                                <li><a href="{{ path('app_homepage') }}"><span class="icon-home"></span></a></li>
                            </ul>
                        </div>
{#                        <a href="{{ path('app_homepage') }}">Page d'Accueil</a>#}

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
