{% extends 'layout/base.html.twig' %}

{% block title %}Construction{% endblock %}

{% block body %}
    <!--=================================
    =            404 Section            =
    ==================================-->
    <section class="moduler wrapper_404">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >&#128562</h1>
                        <h2 class="wow fadeInUp animated" data-wow-delay=".6s">Opps! La page actuel est indisponible</h2>
                        <p class="wow fadeInUp animated" data-wow-delay=".9s">La page que vous recherchez est en cour de construction. revenez plus tard ...</p>
                        <a href="{{ path('app_homepage') }}" class="btn btn-dafault btn-home wow fadeInUp animated" data-wow-delay="1.1s">Page d'Accueil</a>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--
    ==================================================
    Call To Action Section Start
    ================================================== -->
{#    <section id="call-to-action">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-md-12">#}
{#                    <div class="block">#}
{#                        <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">Vous voulez plus de renseignement ?</h2>#}
{#                        <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">Consulter mon curriculum vitae en ligne.</p>#}
{#                        <a href="{{ path('app_cv') }}" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">Cliquer ici</a>#}
{#                    </div>#}
{#                </div>#}

{#            </div>#}
{#        </div>#}
{#    </section>#}
{% endblock %}
