<div class="site-footer">
    <div class="inner first">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="widget">
                        <h3 class="heading">A propos</h3>
                        <p>Très loin, en Afrique de l’Ouest, en passant par les plages, les excursions et la culture, le Sénégal est rempli d’une beauté et d’une civilisation incroyables.</p>
                    </div>
                    <div class="widget">
                        <ul class="list-unstyled social">
                            <li><a href="#"><span class="icon-twitter"></span></a></li>
                            <li><a href="#"><span class="icon-instagram"></span></a></li>
                            <li><a href="#"><span class="icon-facebook"></span></a></li>
                            <li><a href="#"><span class="icon-linkedin"></span></a></li>
                            <li><a href="#"><span class="icon-dribbble"></span></a></li>
                            <li><a href="#"><span class="icon-pinterest"></span></a></li>
                            <li><a href="#"><span class="icon-apple"></span></a></li>
                            <li><a href="#"><span class="icon-google"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 pl-lg-5">
                    <div class="widget">
                        <h3 class="heading">Pages</h3>
                        <ul class="links list-unstyled">
                            <li><a href="{{ path('app_dak') }}">Tourisme</a></li>
                            <li><a href="#">Loisir</a></li>
                            <li><a href="{{ path('app_service') }}">Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="widget">
                        <h3 class="heading">Resources</h3>
                        <ul class="links list-unstyled">
                            <li><a href="#">Routard</a></li>
                            <li><a href="#">Secretoo</a></li>
                            <li><a href="#">Échappées belles</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="widget">
                        <h3 class="heading">Contact</h3>
                        <ul class="list-unstyled quick-info links">
                            <li class="email"><a href="mailto:magibsall@gmail.com">magibsall@gmail.com</a></li>
                            <li class="phone"><a href="tel:+32498150284">+32 498 15 02 84</a></li>
                            <li class="address"><a href="#">Forest, Bruxelles/ Belgique</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="inner dark">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 mb-3 mb-md-0 mx-auto">
                    <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://portfoliomagibsall.eu/" class="link-highlight">Magib Sall</a> <!-- License information: https://untree.co/license/ -->Distributed By <a href="#" target="_blank" >ASSO_DEV</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>